* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #0c002b; */
  font-family: sans-serif;
}

textarea, select, input, button {
  outline: none;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.form .textfield {
  border-left: none;
  border-top: none;
  border-right: none;
  margin-top: 30px;
  height: 32px;
  width: 300px;
  font-size: 16px;
  float: left;
  margin-right: 42px;
}